*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#121212;
    color:white;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:#1f1f1f;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#00ffcc;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    transition:0.3s;
}

nav ul li a:hover{
    color:#00ffcc;
}

.hero{
    text-align:center;
    padding:100px 20px;
    background:linear-gradient(to right,#1a1a1a,#333);
}

.hero h1{
    font-size:50px;
    margin-bottom:10px;
}

.hero p{
    font-size:20px;
    margin-bottom:20px;
}

.hero button{
    padding:12px 25px;
    border:none;
    background:#00ffcc;
    color:black;
    font-weight:bold;
    cursor:pointer;
    border-radius:5px;
}

.games{
    padding:50px;
    text-align:center;
}

.games h2{
    margin-bottom:30px;
}

.game-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    background:#1f1f1f;
    width:250px;
    border-radius:10px;
    overflow:hidden;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
}

.card h3{
    margin:15px 0;
}

.card p{
    padding:0 10px 20px;
}

footer{
    text-align:center;
    padding:20px;
    background:#1f1f1f;
    margin-top:30px;
}